

menu{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 86%;


    .container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .dialog{
            width: 50%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid black;
            border-radius: 24px;
            margin-top: 5%;
            margin-right: 10%;
            position: relative;

            &::after{
                content: "";
                display: block;
                position: absolute;
                background: white;
                width: 50px;
                height: 50px;
                transform: rotate(45deg);
                top: -11.5%;
                left: 4%;
                border-top: 2px solid black;
                border-left: 2px solid black;
            }

            h1{
                text-align: center;
                margin: 0;
            }
        }

        h2{
            margin-top: 3%;
        }

        form{
            display: flex;
            align-items: center;

            &:hover{

                .btnAddListe{
                    animation: boutonDeplaceDroite 0.5s forwards ease;
                }

                div{
                    div{
                        input{
                            animation: inputDeplaceGauche 0.5s forwards ease;
                        }
                    }
                }
            }

            .btnAddListe{
                background: #FFBD95;
                border: 0;
                font-size: 18px;
                padding: 6px 16px;
                border-radius: 10px;
                font-family: Minecraft;
                z-index: 12;
                transform: translateX(-80%);
                cursor: pointer;
                transition: 0.5s ease ;

                &:hover{
                    background: #f1aa7e;
                }
            }

            div{
                
                div{

                    input{
                        height: 100%;
                        width: 60%;
                        font-size: 22px;
                        border-radius: 5px;
                        font-family: Minecraft;
                        transform: translateX(79%);
                        z-index: 2;
                        transition: 0.5s ease ;
                    }
                }
            }
        }

        a{
            margin-top: 5%;
            color: #003B36;
            background: #DBF9F4;
            padding: 12px;
            text-decoration: none;
            transition: 0.4s ease;

            &:hover{
                background: #cbf3ec;
                color: #012724;
                border-radius: 4px;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.414);
            }
        }
    }

    .containerListe{
        height: 90%;
        

        h1{
            margin: 0;
            text-align: center;
            position: relative;

            &::after{
                display: block;
                position: absolute;
                content: "";
                width: 12%;
                height: 2px;
                background: black;
                left: 44%;
            }
        }

        form{
            position: absolute;
            top: 17%;
            left: 70%;
            display: flex;
            align-items: center;

            &:hover{

                .btnAddListe{
                    animation: boutonDeplaceDroite 0.5s forwards ease;
                }

                div{
                    div{
                        input{
                            animation: inputDeplaceGauche 0.5s forwards ease;
                        }
                    }
                }
            }

            .btnAddListe{
                background: #FFBD95;
                border: 0;
                font-size: 18px;
                padding: 6px 16px;
                border-radius: 10px;
                font-family: Minecraft;
                z-index: 12;
                transform: translateX(-80%);
                cursor: pointer;
                transition: 0.5s ease ;

                &:hover{
                    background: #f1aa7e;
                }
            }

            div{
                
                div{

                    input{
                        height: 100%;
                        width: 60%;
                        font-size: 22px;
                        border-radius: 5px;
                        font-family: Minecraft;
                        transform: translateX(79%);
                        z-index: 2;
                        transition: 0.5s ease ;
                    }
                }
            }
        }

        .listes{
            margin-top: 5%;
            height: 80%;
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            margin-left: 12%;
            overflow-y: scroll;

            .liste{
                background: #cbf3ec;
                width: 40%;
                height: 10%;
                display: flex;
                margin-left: 5%;
                margin-bottom: 30px;
                color: #003B36;
                flex-direction: column;
                overflow: hidden;

                .infoListe{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .num{
                        background: #003B36;
                        color: #cbf3ec;
                        height: 40%;
                        align-self: center;
                        margin-left: 2%;
                        padding: 2px;
                        aspect-ratio: 1/1;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
        
                    form{
                        position: relative;
                        top: 0;
                        left: 0;
                        margin-right: 4%;
                        height: 90%;
    
                        a{
                            height: 70%;
                            background: none;
                            cursor: pointer;
                            margin-bottom: 5%;
    
                            &:hover{
                                box-shadow: none;
                                background: none;
                                border-radius: 0;
                            }
    
                            img{
                                height: 100%;
                            }
                        }
        
                        button{
                            border: 0;
                            background: none;
                            cursor: pointer;
                            height: 100%;
    
                            img{
                                height: 100%;
                            }
                        }
    
                        .rond{
                            height: 30px;
                            width: 30px;
                            border-radius: 50%;
                            border: 1px solid black;
                            display: flex;
                            justify-content: center;
                            align-items: center;
    
                            .fleche{
                                height: 50%;
                                width: 50%;
                                margin-bottom: 25%;
                                border-bottom: 1px solid black;
                                border-right: 1px solid black;
                                transform: rotate(45deg);
                            }
                        }
                    }
                }

                /* .coursesListe{
                    background: #003B36;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;

                    .course{
                        background: #cbf3ec;
                        display: flex;
                        border-radius: 50px;
                        align-items: center;
                        margin: 12px;
                        padding: 0 10px;
                        gap: 5px;

                        img{
                            height: 50px;
                            border-radius: 50px;
                        }
                    }
                } */
            }

            .liste:nth-child(4n+3), .liste:nth-child(4n+4){
                background: #003B36;
                color: #cbf3ec;

                .num {
                    background: #cbf3ec;
                    color: #003B36;
                }
            }

            .listeCollabo{
                width: 100%;
                display: flex;
                text-align: center;
                flex-wrap: wrap;

                h1{
                    width: 100%;
                    text-align: center;
                }

                h3{
                    width: 100%;
                    text-align: center;
                }


            }
        }
    }

    a{
        margin-top: 5%;
        color: #003B36;
        background: #DBF9F4;
        padding: 12px;
        text-decoration: none;
        transition: 0.4s ease;
        margin-left: 1%;

        &:hover{
            background: #cbf3ec;
            color: #012724;
            border-radius: 4px;
            box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.414);
        }
    }
}


@keyframes boutonDeplaceDroite {
    0%{
        transform: translateX(-80%);
    }
    100%{
        transform: translateX(-35%);
    }
}


@keyframes inputDeplaceGauche {
    0%{
        transform: translateX(79%);
    }
    100%{
        transform: translateX(35%);
    }
}