
body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #DBF9F4;
    width: 60%;
    height: 80%;
}

h1{
    font-family: 'Minecraft';
    font-size: 400%;
    padding-bottom: 0%;
}

.password{
    display:flex;
}

.confirm-password{
    display: flex;
}


input{
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    font-family: 'Minecraft';
    margin-bottom: 90px;
    border: none;
    border-bottom: 5px solid rgba(0,0,0,1);
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: rgba(0,0,0,1);
} 
input:focus{
    border-bottom: 5px solid #ffa580
}

input:-webkit-autofill{
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:hover{
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill:focus{
    border-bottom: 5px solid #95a4ff;
    -webkit-text-fill-color: #2A293E;
    -webkit-box-shadow: 0 0 0px 1000px #f8f4e5 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.btn{
    position: relative;
    font-family: 'Minecraft';
    font-size: 30px;
    line-height: 20px * 2;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px 1px #95a4ff, 3px 3px 1px 2px rgba(0,0,0,1);
}
  .btn:hover{
    background: rgba(0,0,0,1);
    color: white;
    border: 1px solid rgba(0,0,0,1);
  }