<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/1209491495816536134/1219745324877217912/pixil-frame-d0_2_1.png?ex=660c6b5b&is=65f9f65b&hm=241c32fbf8f56fca049fc5eb81d199a0c3765649393a64afb998a3d7f51a51e1&"">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% block stylesheets %} {% endblock %}

</head>

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% include "header.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
