{% extends 'base.html.twig' %}

{% block title %}ListeCollaborative{% endblock %}

{% block body %}
    <h1>ListeCollaborative</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ liste_collaborative.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_liste_collaborative_index') }}">back to list</a>

    <a href="{{ path('app_liste_collaborative_edit', {'id': liste_collaborative.id}) }}">edit</a>

    {{ include('liste_collaborative/_delete_form.html.twig') }}
{% endblock %}
